%script{type: 'text/html', id: 'main'}

%script{type: 'text/html', id: 'front'}
  %label Driveway
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: driveway'}}
  %label Letter Box
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: letterbox'}}
  %label Verge
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: verge'}}
  %label Drainage
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: drainage'}}
  %label General Comments
  %textarea{data: {bind: 'value: comments'}}
  = render_partial 'photos'

%script{type: 'text/html', id: 'interior'}
  = render_partial 'interior'
  %label General Comments
  %textarea{data: {bind: 'value: comments'}}
  = render_partial 'photos'

%script{type: 'text/html', id: 'toilet'}
  = render_partial 'interior'
  %label Toilet
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: toilet'}}
  %label Ventilation
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: ventilation'}}
  = render_partial 'comments'
  = render_partial 'photos'

%script{type: 'text/html', id: 'bathroom'}
  = render_partial 'interior'
  %label Sink
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: sink'}}
  %label Bath
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: bath'}}
  %label Shower
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: shower'}}
  %label Ventilation
  %select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: ventilation'}}
  = render_partial 'comments'
  = render_partial 'photos'

%script{type: 'text/html', id: 'wherenext'}
  %h3 pick a room...
  %ul.rooms{data: {bind: 'foreach: rooms', role: 'listview', inset: true}}
    %li
      %a{class: 'new-room', data: {bind: 'click: $parent.addRoom, text: $data'}}

%script{type: 'text/html', id: 'photo'}
  #current-photo
    .photo
      %img{data: {bind: 'attr: {src: uri}'}}
    %button{data: {bind: 'click: close'}, theme: 'a'} Close
    %textarea{rows: 3, placeholder: 'Comment eg. marks on walls...', data: {bind: 'value: comment'}}