%script{type: 'text/html', id: 'main'}
  = render_partial 'common'
  .instructions
    Work through each room of the house, adding notes or pictures as required.  
    %br
    Supplement comments with pictures for greater speed via the camera icon.
    %br
    %br
    Go right to start the report

  = render_partial 'photos'

%script{type: 'text/html', id: 'interior'}
  = render_partial 'interior'
  = render_partial 'photos'

%script{type: 'text/html', id: 'lounge'}
  = render_partial 'interior'
  = render_partial 'photos'

%script{type: 'text/html', id: 'wherenext'}
  #header
    %h2{class: 'room-type', data: {bind: 'text: type'}}
  %h3 pick a room...
  #actions{data: {bind: 'foreach: rooms'}}
    %a{class: 'new-room', data: {bind: 'click: $parent.addRoom'}}
      %h4{data: {bind: 'text: $data'}}
